.navbar-brand{
    color:rgb(130, 163, 8);
}
.nav-link{
    color:rgb(130, 169, 9);
}
.bannerBgImage {
    height:100vh;
    background: url('image_1.jpg');
    background-size:cover;
    position:relative;
}
.bannerText{
    text-align: right;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(250, 247, 249);
}
.bannerTitle{
    font-size: 3rem;
}
.bannerDesc{
    font-size: 1.5rem;
    color: rgb(247, 246, 245);
}
.card-img{
    width: 100%;
    mix-blend-mode: darken;
}

/* Technologies section css */
.technologiesText.card {
    height: 150px;
    cursor: pointer;
  }
.card-title {
    text-align: center;
}
.technologiesText:hover {
    border: 2px solid #008000;
}
.Achievements:hover{
    border: 2px solid #008006;
}
.skill {
    background-color: rgb(14, 128, 185);
    color: white;
    padding: 1%;
    text-align: right;
    font-size: 15px;
    border-radius: 15px;
}

.communication {
    width: 95%;
}

.problem-solving {
    width: 70%;
}
.c {
    width: 70%;
}
.java {
    width: 60%;
}
.python {
    width: 50%;
}
